fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
dotenv
pymysql
passlib
PyJWT==2.8.0
sendgrid
bcrypt
python-multipart
python-jose[cryptography]
apscheduler
celery[redis]
jinja2
requests
pandas
aiohttp
matplotlib
konlpy 
